.sobre,
.sobre * {
  box-sizing: border-box;
}
.sobre {
  background: #ff7bd2;
  height: 4657px;
  position: relative;
  overflow: hidden;
}
.img-0002-1 {
  width: 536px;
  height: 891px;
  position: absolute;
  left: 976px;
  top: 3392px;
  object-fit: cover;
}
.rectangle-38 {
  background: #ffb6e6;
  width: 1512px;
  height: 1949px;
  position: absolute;
  left: 0px;
  top: 1443px;
}
.rectangle-26 {
  background: linear-gradient(
    180deg,
    rgba(255, 182, 230, 0.18) 0%,
    rgba(255, 123, 210, 1) 100%
  );
  width: 1512px;
  height: 649px;
  position: absolute;
  left: 0px;
  top: 100px;
  object-fit: cover;
}
.rectangle-24 {
  background: #efe8ff;
  width: 1512px;
  height: 399px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.rectangle-36 {
  background: #efefef;
  width: 1512px;
  height: 779px;
  position: absolute;
  left: 0px;
  top: 664px;
}
.sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes {
  color: #8c73c9;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
  position: absolute;
  left: 871px;
  top: 939px;
  width: 507px;
  height: 225px;
}
.pattern-png-1 {
  width: 3869px;
  height: 2176px;
  position: absolute;
  left: -1369px;
  top: -1088px;
  mix-blend-mode: overlay;
  object-fit: cover;
  aspect-ratio: 3869/2176;
}
.como-tudo-come-ou {
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 609px);
  top: 782px;
  width: 421px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.como-tudo-come-ou-span {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 29px;
  line-height: 106.25%;
  font-weight: 400;
  text-transform: uppercase;
}
.como-tudo-come-ou-span2 {
  color: #563f91;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 48px;
  line-height: 106.25%;
  font-weight: 700;
  text-transform: uppercase;
}
.rectangle-17 {
  border-radius: 49px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 167px;
  height: 40px;
  position: absolute;
  left: 136px;
  top: 778px;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil {
  color: #8c73c9;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
  position: absolute;
  left: 136px;
  top: 939px;
  width: 594px;
  height: 262px;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-span {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-span2 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-span3 {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-span4 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-span5 {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.os-fundadores-da-photo-now-s-o-empreendedores-apaixonados-por-tecnologia-e-inova-o {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 136.52%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1783px;
  width: 587px;
  height: 67px;
}
.os-fundadores-da-photo-now-s-o-empreendedores-apaixonados-por-tecnologia-e-inova-o-span {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 136.52%;
  font-weight: 400;
}
.os-fundadores-da-photo-now-s-o-empreendedores-apaixonados-por-tecnologia-e-inova-o-span2 {
  color: #000000;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 136.52%;
  font-weight: 700;
}
.menu {
  background: #f2eff9;
  padding: 20px 136px 20px 136px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: center;
  width: 1512px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.camada-1 {
  flex-shrink: 0;
  width: 295px;
  height: 57px;
  position: relative;
  overflow: hidden;
}
.vector {
  width: 10.62%;
  height: 56.58%;
  position: absolute;
  right: 89.38%;
  left: 0%;
  bottom: 23.67%;
  top: 19.75%;
  overflow: visible;
}
.vector2 {
  width: 7.74%;
  height: 58.75%;
  position: absolute;
  right: 80.76%;
  left: 11.5%;
  bottom: 24.96%;
  top: 16.29%;
  overflow: visible;
}
.vector3 {
  width: 6.23%;
  height: 44.84%;
  position: absolute;
  right: 73.61%;
  left: 20.16%;
  bottom: 23.41%;
  top: 31.75%;
  overflow: visible;
}
.vector4 {
  width: 6.38%;
  height: 49.4%;
  position: absolute;
  right: 66.62%;
  left: 27.01%;
  bottom: 22.19%;
  top: 28.41%;
  overflow: visible;
}
.vector5 {
  width: 6.23%;
  height: 44.84%;
  position: absolute;
  right: 59.83%;
  left: 33.94%;
  bottom: 23.41%;
  top: 31.75%;
  overflow: visible;
}
.group {
  width: 0.52%;
  height: 29.04%;
  position: absolute;
  right: 23.27%;
  left: 76.21%;
  bottom: 28.08%;
  top: 42.88%;
  overflow: visible;
}
.group2 {
  width: 6.28%;
  height: 45.16%;
  position: absolute;
  right: 14.14%;
  left: 79.58%;
  bottom: 21.08%;
  top: 33.76%;
  overflow: visible;
}
.group3 {
  height: auto;
  position: absolute;
  left: 255.56px;
  top: 6.54px;
  overflow: visible;
}
.group4 {
  height: auto;
  position: absolute;
  left: 207.86px;
  top: 17.93px;
  overflow: visible;
}
.group5 {
  width: 23.27%;
  height: 86.58%;
  position: absolute;
  right: 33.05%;
  left: 43.68%;
  bottom: 2.31%;
  top: 11.11%;
  overflow: visible;
}
.vector6 {
  width: 5.33%;
  height: 17.35%;
  position: absolute;
  right: 48.43%;
  left: 46.24%;
  bottom: 59.51%;
  top: 23.14%;
  overflow: visible;
}
.vector7 {
  width: 10.25%;
  height: 53.61%;
  position: absolute;
  right: 36.12%;
  left: 53.62%;
  bottom: 18.8%;
  top: 27.6%;
  overflow: visible;
}
.vector8 {
  width: 5.99%;
  height: 31.31%;
  position: absolute;
  right: 38.25%;
  left: 55.76%;
  bottom: 29.95%;
  top: 38.74%;
  overflow: visible;
}
.vector9 {
  width: 3.82%;
  height: 7.15%;
  position: absolute;
  right: 49.48%;
  left: 46.7%;
  bottom: 92.85%;
  top: 0%;
  overflow: visible;
}
.vector10 {
  width: 23.81%;
  height: 89.4%;
  position: absolute;
  right: 32.78%;
  left: 43.41%;
  bottom: 1.13%;
  top: 9.47%;
  overflow: visible;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.login {
  color: #e72f63;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16.832578659057617px;
  font-weight: 400;
  position: relative;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e72f63;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 22px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.onde-estamos {
  color: #e72f63;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16.832578659057617px;
  font-weight: 400;
  position: relative;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e72f63;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 22px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.loja {
  color: #e72f63;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16.832578659057617px;
  font-weight: 400;
  position: relative;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e72f63;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 22px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.a-photo-now {
  color: #e72f63;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 16.832578659057617px;
  font-weight: 700;
  position: relative;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #e72f63;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 22px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rea-do-parceiro {
  color: #e72f63;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16.832578659057617px;
  font-weight: 400;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 290.73px;
  height: 60px;
  position: static;
}
.rectangle-3 {
  background: #e72f63;
  border-radius: 35px;
  width: 290.73px;
  height: 60px;
  position: absolute;
  left: 1087.14px;
  top: 20px;
}
.seja-um-franqueado {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1108.14px;
  top: 35px;
  width: 248px;
}
.ellipse-1 {
  background: #e72f63;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 807px;
  top: 64px;
}
.component-1 {
  width: 1223px;
  height: 210px;
  position: absolute;
  right: 168px;
  bottom: 93px;
}
.camada-12 {
  width: 24.12%;
  height: 27.14%;
  position: absolute;
  right: 75.88%;
  left: 0%;
  bottom: 72.86%;
  top: 0%;
  overflow: hidden;
}
.vector11 {
  width: 10.62%;
  height: 56.58%;
  position: absolute;
  right: 89.38%;
  left: 0%;
  bottom: 23.67%;
  top: 19.75%;
  overflow: visible;
}
.vector12 {
  width: 7.74%;
  height: 58.75%;
  position: absolute;
  right: 80.76%;
  left: 11.5%;
  bottom: 24.96%;
  top: 16.29%;
  overflow: visible;
}
.vector13 {
  width: 6.23%;
  height: 44.84%;
  position: absolute;
  right: 73.61%;
  left: 20.16%;
  bottom: 23.41%;
  top: 31.75%;
  overflow: visible;
}
.vector14 {
  width: 6.38%;
  height: 49.4%;
  position: absolute;
  right: 66.62%;
  left: 27.01%;
  bottom: 22.19%;
  top: 28.41%;
  overflow: visible;
}
.vector15 {
  width: 6.23%;
  height: 44.84%;
  position: absolute;
  right: 59.83%;
  left: 33.94%;
  bottom: 23.41%;
  top: 31.75%;
  overflow: visible;
}
.group6 {
  width: 0.52%;
  height: 29.04%;
  position: absolute;
  right: 23.27%;
  left: 76.21%;
  bottom: 28.08%;
  top: 42.88%;
  overflow: visible;
}
.group7 {
  width: 6.28%;
  height: 45.16%;
  position: absolute;
  right: 14.14%;
  left: 79.58%;
  bottom: 21.08%;
  top: 33.76%;
  overflow: visible;
}
.group8 {
  height: auto;
  position: absolute;
  left: 255.56px;
  top: 6.54px;
  overflow: visible;
}
.group9 {
  height: auto;
  position: absolute;
  left: 207.86px;
  top: 17.93px;
  overflow: visible;
}
.group10 {
  width: 23.27%;
  height: 86.58%;
  position: absolute;
  right: 33.05%;
  left: 43.68%;
  bottom: 2.31%;
  top: 11.11%;
  overflow: visible;
}
.vector16 {
  width: 5.33%;
  height: 17.35%;
  position: absolute;
  right: 48.43%;
  left: 46.24%;
  bottom: 59.51%;
  top: 23.14%;
  overflow: visible;
}
.vector17 {
  width: 10.25%;
  height: 53.61%;
  position: absolute;
  right: 36.12%;
  left: 53.62%;
  bottom: 18.8%;
  top: 27.6%;
  overflow: visible;
}
.vector18 {
  width: 5.99%;
  height: 31.31%;
  position: absolute;
  right: 38.25%;
  left: 55.76%;
  bottom: 29.95%;
  top: 38.74%;
  overflow: visible;
}
.vector19 {
  width: 3.82%;
  height: 7.15%;
  position: absolute;
  right: 49.48%;
  left: 46.7%;
  bottom: 92.85%;
  top: 0%;
  overflow: visible;
}
.vector20 {
  width: 23.81%;
  height: 89.4%;
  position: absolute;
  right: 32.78%;
  left: 43.41%;
  bottom: 1.13%;
  top: 9.47%;
  overflow: visible;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.mail {
  width: 1.96%;
  height: 11.43%;
  position: absolute;
  right: 63.12%;
  left: 34.91%;
  bottom: 87.62%;
  top: 0.95%;
  overflow: visible;
  aspect-ratio: 1;
}
.group-11 {
  width: 559px;
  height: 210px;
  position: static;
}
.contato-photonow-com-br-61-99134-8242-nosso-endere-o-av-john-boyd-dunlop-3900-jardim-ipaussurama-campinas-sp-13060-803 {
  color: #8c73c9;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 19.38%;
  left: 37.69%;
  width: 42.93%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.contato-photonow-com-br-61-99134-8242-nosso-endere-o-av-john-boyd-dunlop-3900-jardim-ipaussurama-campinas-sp-13060-803-span {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contato-photonow-com-br-61-99134-8242-nosso-endere-o-av-john-boyd-dunlop-3900-jardim-ipaussurama-campinas-sp-13060-803-span2 {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.contato-photonow-com-br-61-99134-8242-nosso-endere-o-av-john-boyd-dunlop-3900-jardim-ipaussurama-campinas-sp-13060-803-span3 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.call {
  width: 1.96%;
  height: 11.43%;
  position: absolute;
  right: 63.12%;
  left: 34.91%;
  bottom: 58.57%;
  top: 30%;
  overflow: visible;
  aspect-ratio: 1;
}
.distance {
  width: 1.96%;
  height: 11.43%;
  position: absolute;
  right: 63.12%;
  left: 34.91%;
  bottom: 30.95%;
  top: 57.62%;
  overflow: visible;
  aspect-ratio: 1;
}
.group-13 {
  width: 12.18%;
  height: 17.62%;
  position: absolute;
  right: 0%;
  left: 87.82%;
  bottom: 0%;
  top: 82.38%;
  overflow: visible;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.sobre-a-photo-now {
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 171px;
  top: 327px;
}
.sobre-a-photo-now-span {
  color: #11171f;
  font-family: "Poppins-Light", sans-serif;
  font-size: 48px;
  line-height: 86.31%;
  font-weight: 300;
  text-transform: uppercase;
}
.sobre-a-photo-now-span2 {
  color: #ffffff;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 77px;
  line-height: 86.31%;
  font-weight: 700;
  text-transform: uppercase;
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 159px;
  height: 0px;
  position: absolute;
  left: 136px;
  top: 302px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.image {
  background: #e72f63;
  border-radius: 20px;
  width: 526.91px;
  height: 620.17px;
  position: absolute;
  left: 777.2px;
  top: 201.68px;
  transform-origin: 0 0;
  transform: rotate(0.724deg) scale(1, 1);
}
.image2 {
  background: #a397c6;
  border-radius: 20px;
  width: 526.91px;
  height: 620.17px;
  position: absolute;
  left: 854.19px;
  top: 198.1px;
  transform-origin: 0 0;
  transform: rotate(6.003deg) scale(1, 1);
}
.image3 {
  border-radius: 20px;
  width: 526.91px;
  height: 620.17px;
  position: absolute;
  left: 817.69px;
  top: 184px;
  transform-origin: 0 0;
  transform: rotate(4.781deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-37 {
  background: #e6e6e6;
  border-radius: 20px;
  width: 1240px;
  height: 299px;
  position: absolute;
  left: 136px;
  top: 1266px;
}
.uma-promessa-de-deus-que-se-tornou-realidade-s-o-aqueles-momentos-em-que-estamos-desanimados-sem-for-as-com-uma-vis-o-negativa-sobre-as-coisas-e-pessoas-ao-nosso-redor-tristes-sem-perspectivas-nos-sentindo-rejeitados-e-sozinhos-jeremias-29-11 {
  color: #8c73c9;
  text-align: left;
  position: absolute;
  left: 212px;
  top: 1320px;
  width: 1087px;
  height: 191px;
}
.uma-promessa-de-deus-que-se-tornou-realidade-s-o-aqueles-momentos-em-que-estamos-desanimados-sem-for-as-com-uma-vis-o-negativa-sobre-as-coisas-e-pessoas-ao-nosso-redor-tristes-sem-perspectivas-nos-sentindo-rejeitados-e-sozinhos-jeremias-29-11-span {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
  line-height: 120.19%;
  font-weight: 700;
  text-transform: uppercase;
}
.uma-promessa-de-deus-que-se-tornou-realidade-s-o-aqueles-momentos-em-que-estamos-desanimados-sem-for-as-com-uma-vis-o-negativa-sobre-as-coisas-e-pessoas-ao-nosso-redor-tristes-sem-perspectivas-nos-sentindo-rejeitados-e-sozinhos-jeremias-29-11-span2 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
.uma-promessa-de-deus-que-se-tornou-realidade-s-o-aqueles-momentos-em-que-estamos-desanimados-sem-for-as-com-uma-vis-o-negativa-sobre-as-coisas-e-pessoas-ao-nosso-redor-tristes-sem-perspectivas-nos-sentindo-rejeitados-e-sozinhos-jeremias-29-11-span3 {
  color: #8c73c9;
  font-family: "Poppins-Italic", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
  font-style: italic;
}
.camada-13 {
  width: 309px;
  height: 190.67px;
  position: absolute;
  left: 1060.05px;
  top: 1483px;
  transform-origin: 0 0;
  transform: rotate(3.02deg) scale(1, 1);
  overflow: hidden;
}
.group11 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.vector21 {
  width: 19.13%;
  height: 31.59%;
  position: absolute;
  right: 69.89%;
  left: 10.98%;
  bottom: 58.36%;
  top: 10.05%;
  overflow: visible;
}
.vector22 {
  width: 13.93%;
  height: 32.8%;
  position: absolute;
  right: 54.37%;
  left: 31.7%;
  bottom: 59.09%;
  top: 8.11%;
  overflow: visible;
}
.vector23 {
  width: 11.22%;
  height: 25.03%;
  position: absolute;
  right: 41.49%;
  left: 47.29%;
  bottom: 58.22%;
  top: 16.74%;
  overflow: visible;
}
.vector24 {
  width: 11.48%;
  height: 27.58%;
  position: absolute;
  right: 28.91%;
  left: 59.62%;
  bottom: 57.54%;
  top: 14.88%;
  overflow: visible;
}
.vector25 {
  width: 11.22%;
  height: 25.03%;
  position: absolute;
  right: 16.68%;
  left: 72.1%;
  bottom: 58.22%;
  top: 16.74%;
  overflow: visible;
}
.group12 {
  width: 0.94%;
  height: 16.21%;
  position: absolute;
  right: 47.01%;
  left: 52.04%;
  bottom: 23.79%;
  top: 60%;
  overflow: visible;
}
.group13 {
  width: 11.31%;
  height: 25.21%;
  position: absolute;
  right: 30.56%;
  left: 58.13%;
  bottom: 19.88%;
  top: 54.91%;
  overflow: visible;
}
.group14 {
  height: auto;
  position: absolute;
  left: 218.84px;
  top: 80.98px;
  overflow: visible;
}
.group15 {
  height: auto;
  position: absolute;
  left: 128.85px;
  top: 102.24px;
  overflow: visible;
}
.group16 {
  width: 32.94%;
  height: 37.99%;
  position: absolute;
  right: 62.06%;
  left: 5.01%;
  bottom: 13.02%;
  top: 48.99%;
  overflow: visible;
}
.vector26 {
  width: 7.54%;
  height: 7.62%;
  position: absolute;
  right: 83.83%;
  left: 8.63%;
  bottom: 38.12%;
  top: 54.27%;
  overflow: visible;
}
.vector27 {
  width: 14.51%;
  height: 23.52%;
  position: absolute;
  right: 66.4%;
  left: 19.08%;
  bottom: 20.26%;
  top: 56.22%;
  overflow: visible;
}
.vector28 {
  width: 8.48%;
  height: 13.74%;
  position: absolute;
  right: 69.42%;
  left: 22.1%;
  bottom: 25.15%;
  top: 61.11%;
  overflow: visible;
}
.vector29 {
  width: 5.41%;
  height: 3.14%;
  position: absolute;
  right: 85.31%;
  left: 9.28%;
  bottom: 52.75%;
  top: 44.11%;
  overflow: visible;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.quem-faz-a-photo-now {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1673px;
  width: 421px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.quem-faz-a-photo-now-span {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 29px;
  line-height: 106.25%;
  font-weight: 400;
  text-transform: uppercase;
}
.quem-faz-a-photo-now-span2 {
  color: #e72f63;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 48px;
  line-height: 106.25%;
  font-weight: 700;
  text-transform: uppercase;
}
.rectangle-172 {
  border-radius: 49px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 189px;
  height: 40px;
  position: absolute;
  left: 662px;
  top: 1669px;
}
.rectangle-43 {
  background: #efefef;
  border-radius: 20px;
  width: 715px;
  height: 259px;
  position: absolute;
  left: 136px;
  top: 2622px;
}
.rectangle-42 {
  background: #efefef;
  border-radius: 20px;
  width: 715px;
  height: 259px;
  position: absolute;
  left: 661px;
  top: 2276px;
}
.rectangle-46 {
  background: #efefef;
  border-radius: 20px;
  width: 715px;
  height: 259px;
  position: absolute;
  left: 661px;
  top: 2967.99px;
}
.diretor-de-rh-da-photo-now-tiago-um-especialista-em-recursos-humanos-e-gest-o-de-pessoas-formado-em-administra-o-ele-lidera-a-rea-de-rh-da-empresa-com-foco-em-desenvolvimento-e-engajamento-dos-colaboradores {
  color: #848484;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 113.55%;
  font-weight: 400;
  position: absolute;
  left: 431px;
  top: 2768px;
  width: 382px;
}
.diretora-financeira-da-photo-now-lillian-uma-especialista-em-finan-as-e-contabilidade-formada-em-matem-tica-ela-lidera-a-rea-financeira-da-empresa-com-foco-em-resultados-e-crescimento-sustent-vel {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 113.55%;
  font-weight: 400;
  position: absolute;
  left: 694px;
  top: 2429px;
  width: 404px;
}
.diretor-de-opera-es-da-photo-now-diego-um-especialista-em-log-stica-e-processos-ele-lidera-a-rea-de-opera-es-da-empresa-com-foco-em-efici-ncia-e-qualidade {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 113.55%;
  font-weight: 400;
  position: absolute;
  left: 751px;
  top: 3120.01px;
  width: 375px;
}
.rectangle-44 {
  background: #ffffff;
  border-radius: 21px;
  width: 208px;
  height: 272px;
  position: absolute;
  left: 180px;
  top: 2578.4px;
  transform-origin: 0 0;
  transform: rotate(-1.763deg) scale(1, 1);
}
.rectangle-45 {
  background: #e72f63;
  width: 174.8px;
  height: 183.61px;
  position: absolute;
  left: 197.21px;
  top: 2598.05px;
  transform-origin: 0 0;
  transform: rotate(-1.763deg) scale(1, 1);
}
.group-42 {
  position: absolute;
  inset: 0;
}
.rectangle-432 {
  background: #ffffff;
  border-radius: 21px;
  width: 208px;
  height: 272px;
  position: absolute;
  left: 1136.35px;
  top: 2226.01px;
  transform-origin: 0 0;
  transform: rotate(1.76deg) scale(1, 1);
}
.rectangle-442 {
  background: #e72f63;
  width: 174.8px;
  height: 183.61px;
  position: absolute;
  left: 1150.85px;
  top: 2246.68px;
  transform-origin: 0 0;
  transform: rotate(1.76deg) scale(1, 1);
}
.group-44 {
  position: absolute;
  inset: 0;
}
.rectangle-433 {
  background: #ffffff;
  border-radius: 21px;
  width: 208px;
  height: 272px;
  position: absolute;
  left: 1144.35px;
  top: 2918px;
  transform-origin: 0 0;
  transform: rotate(1.76deg) scale(1, 1);
}
.rectangle-443 {
  background: #e72f63;
  width: 174.8px;
  height: 183.61px;
  position: absolute;
  left: 1158.85px;
  top: 2938.67px;
  transform-origin: 0 0;
  transform: rotate(1.76deg) scale(1, 1);
}
.frame-17 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 210px;
  position: absolute;
  left: 431px;
  top: 2664px;
}
.tiago-velasque {
  color: #848484;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 100.02%;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 58px;
}
.line-17 {
  flex-shrink: 0;
  width: 74.14px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 210px;
  position: absolute;
  left: 888px;
  top: 2318px;
}
.lillian-velasque {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 100.02%;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 58px;
}
.line-172 {
  flex-shrink: 0;
  width: 74.14px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 210px;
  position: absolute;
  left: 913px;
  top: 3009px;
}
.diego-mesquita {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 100.02%;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 58px;
}
.line-173 {
  flex-shrink: 0;
  width: 74.14px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-26 {
  width: 715px;
  height: 309px;
  position: absolute;
  left: 136px;
  top: 1899px;
}
.rectangle-39 {
  background: #efefef;
  border-radius: 20px;
  width: 715px;
  height: 259px;
  position: absolute;
  left: 0px;
  top: 50px;
}
.ceo-e-fundador-da-photo-now-rodrigo-um-empreendedor-apaixonado-por-tecnologia-e-inova-o-ele-lidera-a-empresa-com-foco-em-crescimento-e-expans-o {
  color: #848484;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 113.55%;
  font-weight: 400;
  position: absolute;
  left: 295px;
  top: 203px;
  width: 382px;
}
.rectangle-40 {
  background: #ffffff;
  border-radius: 21px;
  width: 208px;
  height: 272px;
  position: absolute;
  left: 44px;
  top: 6.4px;
  transform-origin: 0 0;
  transform: rotate(-1.763deg) scale(1, 1);
}
.rectangle-41 {
  background: #e72f63;
  width: 174.8px;
  height: 183.61px;
  position: absolute;
  left: 61.21px;
  top: 26.05px;
  transform-origin: 0 0;
  transform: rotate(-1.763deg) scale(1, 1);
}
.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 210px;
  position: absolute;
  left: 295px;
  top: 92px;
}
.rodrigo-velasque {
  color: #848484;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 100.02%;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 58px;
}
.line-174 {
  flex-shrink: 0;
  width: 74.14px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-40 {
  position: absolute;
  inset: 0;
}
.ceo-e-fundador {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 100.02%;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 541px;
  top: 101px;
}
.rectangle-422 {
  border-radius: 19px;
  border-style: solid;
  border-color: #848484;
  border-width: 1px;
  width: 152px;
  height: 32px;
  position: absolute;
  left: 525px;
  top: 92px;
}
.group-43 {
  position: absolute;
  inset: 0;
}
.diretor-de-rh-chro {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 100.02%;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 640px;
  top: 2673px;
}
.rectangle-423 {
  border-radius: 19px;
  border-style: solid;
  border-color: #848484;
  border-width: 1px;
  width: 190px;
  height: 32px;
  position: absolute;
  left: 623px;
  top: 2664px;
}
.group-41 {
  position: absolute;
  inset: 0;
}
.diretora-financeira-cfo {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 100.02%;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 713px;
  top: 2327px;
}
.rectangle-424 {
  border-radius: 19px;
  border-style: solid;
  border-color: #848484;
  border-width: 1px;
  width: 223px;
  height: 32px;
  position: absolute;
  left: 701px;
  top: 2318px;
}
.group-45 {
  position: absolute;
  inset: 0;
}
.diretor-de-opera-es-coo {
  color: #848484;
  text-align: right;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  line-height: 100.02%;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 710px;
  top: 3018px;
}
.rectangle-425 {
  border-radius: 19px;
  border-style: solid;
  border-color: #848484;
  border-width: 1px;
  width: 245px;
  height: 32px;
  position: absolute;
  left: 694px;
  top: 3009.01px;
}
.rectangle-19 {
  background: linear-gradient(
    90deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(235, 235, 235, 0) 100%
  );
  width: 1512px;
  height: 881px;
  position: absolute;
  left: 0px;
  top: 3392px;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.que-tal-fazer-parte-dessa-hist-ria {
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 171px;
  top: 3529px;
}
.que-tal-fazer-parte-dessa-hist-ria-span {
  color: #11171f;
  font-family: "Poppins-Light", sans-serif;
  font-size: 48px;
  line-height: 86.31%;
  font-weight: 300;
  text-transform: uppercase;
}
.que-tal-fazer-parte-dessa-hist-ria-span2 {
  color: #563f91;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 77px;
  line-height: 86.31%;
  font-weight: 700;
  text-transform: uppercase;
}
.line-72 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 159px;
  height: 0px;
  position: absolute;
  left: 136px;
  top: 3504px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.group-10 {
  position: absolute;
  inset: 0;
}
.rectangle-32 {
  background: #e72f63;
  border-radius: 53px;
  width: 420px;
  height: 60px;
  position: absolute;
  left: 138px;
  top: 4086px;
}
.como-funcionam-nossos-totens {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 173px;
  top: 4101px;
  width: 349px;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes {
  color: #8c73c9;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
  position: absolute;
  left: 128px;
  top: 3693px;
  width: 823px;
  height: 349px;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span2 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span3 {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span4 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span5 {
  color: #8c73c9;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 700;
}
.a-photo-now-nasceu-em-bras-lia-em-2022-com-a-miss-o-de-tornar-a-fotografia-instant-nea-acess-vel-interativa-atrav-s-de-totens-fotogr-ficos-modernos-e-intuitivos-a-marca-permite-que-os-usu-rios-editem-e-imprimam-suas-fotos-em-poucos-segundos-em-pouco-tempo-a-photo-now-se-tornou-um-grande-sucesso-3-unidades-pr-prias-al-m-de-mais-expandindo-se-para-mais-de-80-franquias-em-todo-o-brasil-sua-presen-a-em-shoppings-aeroportos-e-eventos-refor-a-seu-compromisso-em-registrar-momentos-especiais-de-forma-pr-tica-e-inovadora-com-um-modelo-de-neg-cio-acess-vel-e-tecnologia-de-ponta-a-photo-now-segue-crescendo-oferecendo-oportunidades-para-empreendedores-e-proporcionando-experi-ncias-nicas-para-seus-clientes-span6 {
  color: #8c73c9;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 146.74%;
  font-weight: 400;
}
