:root {
    --e-7-2f-63: rgba(231, 47, 99, 1);
    --eaaae-9: rgba(234, 170, 233, 1);
    --x-56-3f-91: rgba(86, 63, 145, 1);
    --c-2b-4ea: rgba(194, 180, 234, 1);
    --f-9a-243: rgba(249, 162, 67, 1);
    --ffe-3-9c: rgba(255, 227, 156, 1);
    --x-1117-1f: rgba(17, 23, 31, 1);
  }
  