/* Figma Styles of your File */
:root {
    /* Colors */
    --e72f63: #e72f63;
    --eaaae9: #eaaae9;
    --563f91: #563f91;
    --c2b4ea: #c2b4ea;
    --f9a243: #f9a243;
    --ffe39c: #ffe39c;
    --11171f: #11171f;
  
    /* Fonts */
    /* Effects */
  }
  